<div class="content-wrapper container-xxl p-0">
    <div class="dashboard">
        <div class="dashboard__items">
            <div class="dashboard__items__item d-flex align-items-center">
                <div class="mr-2">
                    <span class="material-icons">
                        euro_symbol
                    </span>
                </div>
                <div>
                    <div>
                        Total Income
                    </div>
                    <span>
                        {{totalIncome}} den
                    </span>
                </div>
            </div>
            <div class="dashboard__items__item d-flex align-items-center">
                <div class="mr-2">
                    <span class="material-icons">
                        sentiment_dissatisfied
                    </span>
                </div>
                <div>
                    <div>
                        Total Expense
                    </div>
                    <span>
                        {{totalIncome}} den
                    </span>
                </div>
            </div>
            <div class="dashboard__items__item d-flex align-items-center">
                <div class="mr-2">
                    <span class="material-icons">
                        star
                    </span>
                </div>
                <div>
                    <div>
                        Total Savings
                    </div>
                    <span>
                        {{totalIncome}} den
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>