<form [formGroup]="form">
    <div class="row controls p-2 d-flex justify-content-end">
        <!-- <div class="col-4">
            <input type="search" placeholder="Search by invoice name" class="form-control" formControlName="search" />
        </div> -->
        <div>
            <button class="btn btn-primary" [routerLink]="['/members/invoice/add', member_id]" routerLinkActive="router-link-active"  rippleEffect>
                <i data-feather="plus" class="mr-0 mr-sm-1"></i><span class="d-none d-sm-inline-block">Add Invoice</span>
            </button>
        </div>
        <!-- <div class="ml-1">
            <select class="form-control pr-4" formControlName="per_page">
                <option value="10">Show 10</option>
                <option value="30">Show 30</option>
                <option value="50">Show 50</option>
            </select>
        </div> -->
    </div>
</form>