<div class="content-wrapper container-xxl p-0">
    <app-members-form></app-members-form>

    <div class="content-body mt-2">
        <div class="members-holder">
            <div class="members-holder__member" *ngFor="let member of members">
                <div class="d-flex align-items-center justify-content-between">
                    <h2>
                        {{member.first_name}} {{member.last_name}}
                    </h2>
                    <div>
                        <div [innerHTML]="memberHasPaid(member)"></div>
                    </div>
                </div>
                <div class="members-holder__description">
                    {{member.email}}
                </div>
                <div class="members-holder__view-details">
                    View details
                </div>
            </div>
        </div>
    </div>
</div>