<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="content-wrapper container-xxl p-0" *ngIf="member && invoice">
    <div class="content-body">
      <section class="invoice-preview-wrapper">
        <div class="row invoice-preview">
          <!-- Invoice -->
          <div class="col-xl-9 col-md-8 col-12 printRef">
            <div class="card invoice-preview-card">
              <div class="card-body invoice-padding pb-0">
                <!-- Header Starts -->
                <div class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">
                  <div>
                    <div class="logo-wrapper d-flex align-items-center mb-2">
                    <img src="/assets/images/logo/yoshitaka-symb.png" alt="">
                      <h3 class="text-primary invoice-logo">Yoshitaka</h3>
                    </div>
                    <p class="card-text mb-25">Cando Kuzmanov 60, Rosoman</p>
                    <p class="card-text mb-25">Macedonia</p>
                    <p class="card-text mb-0">+389 70 205 044</p>
                  </div>
                </div>
                <!-- Header Ends -->
              </div>
  
              <hr class="invoice-spacing" />
  
              <!-- Address And Contact Starts -->
              <div class="card-body invoice-padding pt-0">
                <div class="row invoice-spacing">
                  <div class="col-xl-6 p-0">
                    <h6 class="mb-2">Invoice To:</h6>
                    <h6 class="mb-25">{{ member.first_name }} {{ member.last_name }}</h6>
                    <p class="card-text mb-0">{{ member.email }}</p>
                  </div>
                  <div class="col-xl-6 p-0 mt-xl-0 mt-2">
                    <h6 class="mb-2">Payment Details:</h6>
                    <table>
                      <tbody>
                        <tr>
                          <td class="pr-1">Bank name:</td>
                          <td>{{ paymentDetails.bankName }}</td>
                        </tr>
                        <tr>
                          <td class="pr-1">Country:</td>
                          <td>{{ paymentDetails.country }}</td>
                        </tr>
                        <tr>
                          <td class="pr-1">IBAN:</td>
                          <td>{{ paymentDetails.iban }}</td>
                        </tr>
                        <tr>
                          <td class="pr-1">SWIFT code:</td>
                          <td>{{ paymentDetails.swiftCode }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Address And Contact Ends -->
  
              <!-- Invoice Description Starts -->
              <div class="table-responsive border-bottom">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="py-1">Service Name</th>
                      <th class="py-1 text-right">Amount</th>
                      <th class="py-1 text-right">Has Paid</th>
                      <th class="py-1 text-right">Amount due</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="services">
                    <tr *ngFor="let service of services.controls; let i = index" [formGroupName]="i">
                      <td class="py-1">
                        <span class="font-weight-bold d-flex align-items-center">
                          <input type="text" class="form-control mr-1" formControlName="service_name" placeholder="Service Name">
                        </span>
                      </td>
                      <td class="py-1 text-right">
                        <span class="font-weight-bold d-flex align-items-center">
                          <input type="text" class="form-control mr-1" formControlName="amount" placeholder="Amount">
                        </span>
                      </td>
                      <td class="py-1 text-right">
                        <span class="font-weight-bold d-flex align-items-center">
                          <input type="text" class="form-control mr-1" formControlName="has_paid" placeholder="Has paid">
                        </span>
                      </td>
                      <td class="py-1 text-right">
                        <span class="font-weight-bold d-flex align-items-center">
                          <input type="text" class="form-control mr-1" formControlName="left_to_be_paid" placeholder="Amount due">
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div class="d-flex justify-content-end mr-3 mt-2">
                <div class="btn btn-primary" (click)="addServiceRow()">+ Add Service</div>
              </div>
  
              <div class="invoice-spacing"></div>
            </div>
          </div>
          <!--/ Invoice -->
  
          <!-- Invoice Actions -->
          <div class="col-xl-3 col-md-4 col-12 invoice-actions mt-md-0 mt-2">
            <div class="card">
              <div class="card-body">
                <button type="submit" class="btn btn-outline-secondary btn-block mb-75 text-white">
                  Save
                </button>
              </div>
            </div>
          </div>
          <!--/ Invoice Actions -->
        </div>
      </section>
    </div>
  
  </div>
</form>