$border-color: #3E4750;
$main-bg-color: #10151A;
$primary-bg-color: #3e4750;
$font-color: #586169;
$font-color-active: rgba(184, 193, 201, 0.9);;


$blue-background-color: #2ca7e1;
$hover-blue-background-color: #2979ac;


$gray-background-color: #363c4a;
$hover-gray-background-color: #455360;
