<!-- Error page-->
<div class="misc-wrapper">

  <div class="misc-inner p-2 p-sm-3">
    <div class="w-100 text-center">
      <a href="javascript:void(0);">
        <img src="/assets/images/logo/logo.png" width="150px" alt="brand-logo" /></a
      >
      <h2 class="mb-1 mt-1">Страницата не е пронајдена 🕵🏻‍♀️</h2>
      <p class="mb-2">Нешто тргна наопаку! 😖 Страницата не постои.</p>
      <a class="btn btn-dark mb-2 btn-sm-block" routerLink="/" rippleEffect>Назад кон почетна</a
      >
    </div>
  </div>
</div>
<!-- / Error page-->
